body {
    font-family: sans-serif;
    background-color: #eef2f3;
    direction: rtl;
    text-align: center;
    padding: 40px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4facfe;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

#weather-output {
    margin-top: 30px;
}

.weather-box {
    background: #eef;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

.sunny-bg {
    background: linear-gradient(to top, #ffe259, #ffa751);
}
.rainy-bg {
    background: linear-gradient(to top, #4e54c8, #8f94fb);
}
.cloudy-bg {
    background: linear-gradient(to top, #d7d2cc, #304352);
}
